// Mixins Here

.custom-button(@main, @font-color){
    display: block;
    background-color: @main;
    cursor: pointer;
    text-align: center;
    height: 30px;
    font-size: 2rem;
    border-radius: 5px;
    color:@font-color;
    padding: 1%;
  }
  .custom-mobile(@width:90%){
    margin: 0 auto;
    width: @width;
    text-align: left;
  }
.mobile-columns(@direction:column){
  flex-direction: @direction;
  justify-content: center;
  align-content: center;
}
